body {
  margin: 0;
  padding: 20px;
  font-family: "Roboto","Helvetica", sans-serif;
  background: linear-gradient(90deg, rgba(58,109,163,1) 0%, rgba(59,110,165,1) 100%);
  color: white;
}

.app {
  max-height: 100vh;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.app-registration {
  max-height: 100vh;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  text-align: center;
}

.app-header {
  color: white;
}

.app-link {
  color: white;
  text-decoration: none;
}

.app-action {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: #EF4A4A;
  padding: 10px 34px;
  box-shadow: 1px 2px 4px #0000006e;
}

.app-action:hover {
  box-shadow: 1px 1px 2px #0000006e;
}

.app-content {
  width: 70%;
  line-height: 22px;
}

.app-developers {
  text-align: center;
}

.app-developers p {
  margin: 0;
  padding: 15px;
}

.app-developers-links {
  border-top: 2px solid white;
  padding-top: 10px;
}

.app-avatar-content {
  width: 66%;
  margin: 0 auto;
}

.avatar-btn {
  background: transparent;
  border: none;
  margin: 10px;
}

.username-input {
  display: block;
  width: 80%;
  margin: 15px auto;
  height: 25px;
  text-align: center;
  border: none;
  box-shadow: 1px 1px 2px #0000006e;
}

.openedModal {
  opacity: 1;
  display: block;
}

.closedModal {
  opacity: 0;
  display: block;
  height: 0px;
  width: 0px;
}
