.subjectEffect {
    transition: 0.5s;
    box-shadow: 0px 0px 4px black;
}

.subjectEffect:hover {
    background-color: #009688;
    transition: 0.5s;
    box-shadow: 0px 0px 2px black;
    color: white;
}

.subjectSelected {
    background-color: #009688;
    transition: 0.5s;
    box-shadow: 0px 0px 2px black;
    color: white;
}

.avatarSelected {
    background-color: #009688;
}

.avatarUnselected {
    background-color: white;
}